<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
    <div id="contents"></div>

    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
